* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
#root #parent {
  position: relative;
  padding: 1em;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#root #parent nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root #parent nav .insta-logo {
  width: 12vw;
  -o-object-fit: contain;
     object-fit: contain;
}
#root #parent nav .icons {
  font-size: 1.5em;
}
#root #parent nav .icons a {
  text-decoration: none;
  color: #333;
  margin-left: 1em;
}
#root #parent main header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 2.5em;
  overflow-x: auto;
  overflow-y: hidden;
}
#root #parent main header::-webkit-scrollbar {
  display: none;
}
#root #parent main header .stories {
  text-align: center;
}
#root #parent main header .stories .pfp {
  background: linear-gradient(45deg, #3c74fe, #ff5e68, #bd19ff, #3c74fe);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
}
#root #parent main header .stories img {
  width: 6.5em;
  height: 6.5em;
  -o-object-position: 50% 29%;
     object-position: 50% 29%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#root #parent main header .stories .story {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#root #parent main header .stories .story img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0;
}
#root #parent main .story-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
#root #parent main .story-popup .story-content {
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 100%;
  /* Loading Bar on top of the story */
}
#root #parent main .story-popup .story-content img {
  max-width: 80%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
#root #parent main .story-popup .story-content video {
  max-width: 40%;
  max-height: 10%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
#root #parent main .story-popup .story-content .close-story {
  position: absolute;
  top: 1em;
  right: 2em;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
}
#root #parent main .story-popup .story-content .loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em 0;
  border-radius: 40px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 64, 128, 0.8235294118);
  transition: width 5s linear; /* Smooth transition for the loading bar */
}
#root #parent main footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#root #parent main footer .container {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}
#root #parent main footer .container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
}
#root #parent main footer .container .top .top_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4 em;
}
#root #parent main footer .container .top .top_left #logo {
  width: 60px;
  height: 60px;
}
#root #parent main footer .container .top .top_left #logo img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(227, 76, 76);
}
#root #parent main footer .container .top .top_left #user_name {
  font-size: 1.2em;
  font-weight: bold;
}
#root #parent main footer .container .top .top_right {
  display: flex;
  align-items: center;
  gap: 2em;
}
#root #parent main footer .container .top .top_right button {
  padding: 6px 12px;
  background-color: rgb(227, 221, 221);
  color: rgb(9, 6, 6);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
#root #parent main footer .container .top .top_right .icon {
  font-size: 1em;
  padding-right: 1em;
}
#root #parent main footer .container .middle {
  display: flex;
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#root #parent main footer .container .middle img {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#root #parent main footer .container .bottom .bottom_top {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
#root #parent main footer .container .bottom .bottom_top .bottom_top_left {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
}
#root #parent main footer .container .bottom .bottom_middle {
  padding: 0 1em;
}
#root #parent main footer .container .bottom .bottom_bottom {
  padding: 1em;
}
#root #parent main footer .container .bottom .bottom_bottom #comments {
  font-size: 1em;
  font-weight: 100;
  color: #666f82;
}
#root #parent main footer .container .bottom .bottom_bottom #time_ago {
  padding-top: 0.5em;
  font-size: 1em;
  font-weight: 100;
  color: #666f82;
}/*# sourceMappingURL=style.css.map */